<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AirlineReservationSystem.Properties.Settings.AirlineReservationSystemConnectionString"
            connectionString="Data Source=NCSHAH\SQLSERVER2016;Initial Catalog=AirlineReservationSystem;Persist Security Info=True;User ID=sa;Password=KIS@tpo363#"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>